<div class="container">
  <i class="fa fa-filter fa-4x"></i>
  <%= render partial: "shared/trip_filters" %>
</div>

<script charset="utf-8">
  $(".fa-filter").on("click", function() {
    $("#visible-filters").toggleClass( "trip-filters" );
  });

  var cleanCategories = function(checked_categories) {
    var cleaned_categories = []
    checked_categories.forEach(function(element) {
      cleaned_categories.push(element.match(/\[(.*?)\]/)[1])
    });
    return cleaned_categories
  };

  $(document).ready(function() {
    var checked_categories = []
    $('input:checkbox').change(function(){
      if ($(this).is(':checked')) {
        checked_categories.push(this.name)
      };
      var cleanedCategories = cleanCategories(checked_categories)
      var filteredCategories = filterCategories(cleanedCategories);
    });
  });
</script>





<table class="table table-hover trips-table table-bordered">
  <thead>
    <tr class="warning">
      <th data-field='ranking'>Ranking</th>
      <th data-field='title'>Title</th>
      <th data-field='departure_city'>Departure City</th>
      <th data-field='arrival_city'>Arrival City</th>
      <th data-field='airline'>Airline</th>
      <th data-field='trip_details'>Trip Details</th>
      <th data-field='date'>Departure Date</th>
      <th data-field='date'>Return Date</th>
      <th data-field='price'>Price</th>
      <th data-field="select"> Select </th>
    </tr>
  </thead>

  <tbody>
    <% @trips.each do |trip| %>
      <tr>
        <td id="ranking"><%= @trips.index(trip) + 1 %></td>
        <td id="trip-title"><%= link_to "#{trip.title}", trip_path(trip.id) %></td>
        <td><%= trip.departure_city %></td>
        <td><%= trip.arrival_city %></td>
        <td><%= trip.airline %></td>
        <td><%= trip.short_description %></td>
        <td><%= trip.departure_date.strftime("%b %d, %Y, %I:%M") %></td>
        <td><%= trip.return_date.strftime("%b %d, %Y, %I:%M") %></td>
        <td><%= number_to_currency trip.price/100 %></td>
        <td> <%= link_to "Select", trip_path(trip.id), class: "btn btn-default btn-small" %> </td>
      </tr>
    <% end %>
  </tbody>

</table>

<% if !@trips.present? %>
  <p class="no-trip"> There are currently no available trips from this category. Please make other plans.</p>
<% end %>

<div class="trips-space"></div>

<div class="plan-again-text">
  Didn't find the perfect trip? Let's plan again.
</div>

<div class="plan-again">
  <%= link_to "Let's Plan Again.", new_planner_path, class: "btn btn-primary" %>
</div>
