<table class="table table-hover trips-table table-bordered">
  <thead>
    <tr class="warning">
      <th data-field='ranking'>Ranking</th>
      <th data-field='airline'>Airline</th>
      <th data-field='trip_details'>Trip Details</th>
      <th data-field='date'>Date</th>
      <th data-field='price'>Price</th>
      <th data-field='decision'>Purchase?</th>
    </tr>
  </thead>
  <tbody>
    <% @trips.each do |trip| %>
    <tr>
      <td><%= trip.ranking %></td>
      <td><%= trip.airline %></td>
      <td><%= trip.description %></td>
      <td><%= trip.flight_date.strftime("%b %d, %Y, %I:%M") %></td>
      <td><%= number_to_currency trip.price/100 %></td>
      <td><%= link_to "Select", trip_path(trip.id) %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="trips-space"></div>

<div class="play-again-text">
  Didn't find the perfect trip? Let's plan again.
</div>

<div class="plan-again">
  <%= link_to "Let's Plan Again.", new_planner_path, class: "btn btn-primary" %>
</div>
