<% provide(:title, "Trip") %>
<div id="title"><h1><%= @trip.title %></h1></div>

<div class="row text-center">

  <div class="col-md-4">
    <%= div_for(@trip, class: "photo") do %>
      <%= image_tag @trip.photos.first.avatar.url(:medium) %>
    <% end %>
  </div>

  <div class="col-md-4 col-md-offset-4">

    <table class="table table-bordered">
      <tr>
        <td>Price</td><td><%= number_to_currency @trip.price / 100.00 %></td>
      </tr>
      <tr>
        <td>Description</td><td><%= @trip.full_description %> %</td>
      </tr>
      <tr>
        <td>Departure Date</td><td><%= @trip.departure_date %> </td>
      </tr>
      <tr>
        <td>Return Date</td><td><%= @trip.return_date %> </td>
      </tr>
    </table>

    <div class="row">
      <%= button_to "Book Ticket", "http://www.kayak.com", data: { confirm: "You're about to leave the site. Are you sure?" } %>
    </div>

  </div>

</div>

<div class="trip-information">

  <table class="table table-bordered">
    <tr>
      <td>Trip Description</td><td><%=  @trip.full_description %></td>
    </tr>

  </table>

  <h1>SOME CHART REPPPING HISTORICAL DATA GOES HERE</h1>

</div>

<%= render "shared/plan_again" %>
