<% provide(:title, "Home") %>
<div class="message">
  Let's plan a trip...
</div>

<%= render "layouts/new_planner" %>
<%= render "layouts/praise_bar" %>
<%= render "layouts/city_change" if current_user %>

<div class="welcome-bottom">
  <div class="welcome-question">
    Fly to Your Favorite City For Cheap!
  </div>

  <%= render "layouts/categories" %>

  </br>

  <div class="row">
    <div class="col-mid-4 welcome-question">
      Or Just...
    </div>
  </div>

  <div category="row">
    <div class="col-mid-3 text-center tell-button">
      <%= link_to('Bargain Hunt for Me', real_trips_for_bargain_path, :class => 'btn btn-large btn-primary bargain-hunter') %>
    </div>
  </div>
</div>
