<% provide(:title, "Home") %>
<div class="message">
  Let's plan a trip...
</div>

<div class="planner">
  <%= form_for :plan, url: trips_path do |f| %>
    <table>
      <tr>
        <td>
          <%= f.label :quality, "I am looking for trips that are", class: "plan-label" %>
        </td>
        <td>
          <%= f.collection_select :quality_category, Category.quality_categories, :id, :name, { include_blank: "Quality" }, { class: "btn-lg plan-lines" } %>
        </td>
      </tr>

      <tr>
        <td>
          <%= f.label :location, "and I am looking to fly", class: "plan-label" %>
        </td>
        <td>
          <%= f.collection_select :location_category, Category.proximity_categories, :id, :name, { include_blank: "Proximity" }, { class: "btn-lg plan-lines" } %>
        </td>
      </tr>

      <tr>
        <td>
          <%= f.label :activity, "and I plan on", class: "plan-label" %>
        </td>
        <td>
          <%= f.collection_select :activity_category, Category.activity_categories, :id, :name, { include_blank: "Activity" }, { class: "btn-lg plan-lines" } %>
        </td>
      </tr>
    </table>
      <%= f.submit 'Get Travel Plans', class: "plan-button plan-lines" %>
  <% end %>
</div>

<div class="row praise-row">
    <div class="col-sm-3 col-sm-offset-2">
      <div class="praise-text">
      "Jeff Wan has certainly outdone himself in the design world again. How does he do it??"
      </div>

      <div class="praise-time-logo"></div>

    </div>

    <i class="col-sm-1 fa fa-heart-o fa-3x"></i>

    <div class="col-sm-3">
      <div class="praise-text">
        "One has to ask... is Jeff Wan for real?"
      </div>

      <div class="praise-cosmo-logo"></div>

    </div>
</div>

<div class="front-page-divider">

</div>

<div class="welcome-bottom">
  <div class="welcome-question">
    Plan a Trip Around Your Favorite Activity...
  </div>

  <div class="row">
    <div class="text-center">
      <% @activity_categories.each do |activity| %>
        <div class="col-sm-4 trip-item">
          <%= link_to("#{activity.name}", trips_path(activity: activity.name.parameterize), class: "btn btn-primary traveler-type") %>
          <%= image_tag activity.photos.first.avatar.url(:medium) %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="welcome-question">
    Or fly to your favorite city...
  </div>

  <div class="row">
    <div class="text-center">
      <% @location_categories.each do |location| %>
        <div class="col-sm-3 trip-item">
          <%= link_to("#{location.name}", trips_path(location: location.name.parameterize), class: "btn btn-primary traveler-type") %>
          <%= image_tag location.photos.first.avatar.url(:city) %>
        </div>
      <% end %>
    </div>
  </div>

  </br>
  <div class="row">
    <div class="col-mid-4 welcome-question">
      Or Just...
    </div>
  </div>

  <div class="row">
    <div class="col-mid-3 text-center tell-button">
      <%= button_to('Bargain Hunt for Me', bargainer_path, :class => 'btn btn-large btn-primary traveler-type') %>
    </div>
  </div>
</div>
