<%= nav_bar fixed: :top, responsive: true do %>
  <div class="nav-row">
    <%= menu_group pull: :left, inline: true do %>
      <%= menu_item image_tag('logo3.png', size: "55x55", class: "brand"), root_path  %>
      <%= menu_item "Plan a Trip", new_planner_path, class: "nav-link" %>
      <%= menu_item "Explore", trip_infos_path, class: "nav-link" %>
      <%= menu_item "Admin Dashboard", admin_dashboard_path, class: "nav-link" %>
    <% end %>

    <%= menu_group pull: :right do %>
      <% if current_user.nil? %>
        <%= menu_item "Signup", new_user_path, class: "nav-link" %>
        <li class="divider-vertical"></li>
        <%= menu_item do %>
          <%= form_for :session, url: login_path, :html => {class: 'nav-link pull-right'} do |f| %>
            <%= f.text_field :username, :placeholder => 'username' %>
            <%= f.password_field :password, :placeholder => 'password' %>
            <%= f.submit 'Login' %>
          <% end %>
        <% end %>
        <%= menu_item "Login With Twitter", "/auth/twitter", class: "nav-link"  %>
      <% else %>
        <% unless current_user.admin? %>
          <%= menu_item "Profile", user_path(current_user), class: "nav-link" %>
        <% end %>
        <li class="divider-vertical"></li>
        <%= menu_item "Logout", logout_path, class: "nav-link" %>
      <% end %>
    <% end %>
  </div>
<% end %>
