<%= nav_bar fixed: :top, responsive: true do %>
  <div class="nav-row">
    <%= menu_group pull: :left, inline: true do %>
      <%= menu_item image_tag('logo3.png', size: "55x55", class: "brand"), root_path  %>
      <%= menu_item "Plan", plan_path, class: "nav-link" %>
      <%= menu_item "Explore", trips_path, class: "nav-link" %>
      <%= menu_item "Admin Dashboard", admin_dashboard_path, class: "nav-link" %>
    <% end %>

    <%= menu_group pull: :right do %>
      <% if current_user.nil? %>
        <%= menu_item "Signup", new_user_path, class: "nav-link" %>
        <!-- <li class="divider-vertical"></li> -->
        <%= menu_item do %>
          <%= form_for :session, url: login_path, :html => {class: 'navbar-form pull-right'} do |f| %>
            <%= f.text_field :username, :placeholder => 'username' %>
            <%= f.password_field :password, :placeholder => 'password' %>
            <%= f.submit 'Login' %>
          <% end %>
        <% end %>
      <% else %>
        <%= menu_item "Plans", user_orders_path(user_id: current_user.id), class: "nav-bar" %>
        <%= menu_item "Logout", logout_path, class: "nav-bar" %>
        <% unless current_user.admin? %>
          <%= menu_item "Profile", user_path(current_user), id: "profile" %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
