<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=IM+Fell+Great+Primer:400italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="main-body container">
    <%= render "layouts/nav_bar" %>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :class => "flash-#{name}" %>
    <% end %>
    <%= yield %>
  </div>
  <%= render "layouts/footer_bar" %>
</body>
</html>
